/* use this snippet with the big-sur theme https://github.com/davidgolding/obsidian-big-sur-aesthetic */
.theme-dark {
    --background-primary: rgb(30, 30, 30);
    --background-primary-alt: #443a22;
    --background-secondary: rgb(42, 45, 45);
    --background-secondary-alt: rgb(54, 56, 56);
    --background-modifier-border: rgb(42, 45, 45);
    --background-modifier-form-field: rgba(0, 0, 0, 0.3);
    --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-success: #197300;
    --background-modifier-error: #3d0000;
    --background-modifier-error-rgb: 61, 0, 0;
    --background-modifier-error-hover: #470000;
    --background-modifier-cover: rgba(0, 0, 0, 0.6);
    --text-accent: #f9ab20;
    --text-accent-hover: #f9ab20;
    --text-code: #d48e13;
    --text-normal: rgb(241, 244, 244);
    --text-muted: rgb(230, 230, 230);
    --text-faint: rgb(126, 127, 127);
    --text-error: #ff3333;
    --text-error-hover: #990000;
    --text-highlight-bg: rgba(255, 255, 0, 0.4);
    --text-selection: rgba(23, 48, 77, 0.99);
    --text-on-accent: #dcddde;
    --interactive-normal: #2a2a2a;
    --interactive-hover: #303030;
    --interactive-accent: #f9ab20;
    --interactive-accent-rgb: rgb(153, 54, 54);
    --interactive-accent-hover: #a63c3c;
    --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
    --btn-bg: rgb(103, 106, 106);
    --btn-content: rgb(230, 233, 233);
    --btn-highlight-bg: rgb(69, 71, 71);
    --btn-highlight-content: rgb(182, 184, 184);
    --divider-border: rgb(0, 0, 0);
}
.theme-light {
    --background-primary: #ffffff;
    --background-primary-alt: #f5f6f8;
    --background-secondary: #f2f3f5;
    --background-secondary-alt: #d4d4d4;
    --background-accent: #fff;
    --background-modifier-border: #ddd;
    --background-modifier-form-field: #fff;
    --background-modifier-form-field-highlighted: #fff;
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
    --background-modifier-success: #A4E7C3;
    --background-modifier-error: #e68787;
    --background-modifier-error-rgb: rgb(230, 135, 135);
    --background-modifier-error-hover: #FF9494;
    --background-modifier-cover: rgba(0, 0, 0, 0.8);
    --text-accent: #f9ab20;
    --text-accent-hover: #f9ab20;
    --text-code: #d48e13;
    --text-normal: #2e3338;
    --text-muted: #505050;
    --text-faint: #999999;
    --text-error: #800000;
    --text-error-hover: #990000;
    --text-highlight-bg: rgba(255, 255, 0, 0.4);
    --text-selection: rgba(204, 230, 255, 0.99);
    --text-on-accent: #f2f2f2;
    --interactive-normal: #f2f3f5;
    --interactive-hover: #e9e9e9;
    --interactive-accent: #f9ab20;
    --interactive-accent-rgb: rgb(217, 108, 108);
    --interactive-accent-hover: #e67373;
    --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
    --scrollbar-bg: rgba(0, 0, 0, 0.05);
    --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
    --btn-bg: #ddd;
    --btn-content: #ddd;
    --btn-highlight-bg: #ddd;
    --btn-highlight-content: #666;
    --divider-border: rgb(235, 226, 228);
}

.markdown-preview-view code {
    color: var(--text-code);
}

.status-bar:not(:hover) .status-bar-item {
    opacity: 0.5;
}
